fcitx5/build/
daemon/target/
__pycache__/
*.py[cod]
packaging/arch/src/
packaging/arch/pkg/
packaging/arch/*.pkg.tar.*
packaging/arch/*.tar.bz2
packaging/aur/src/
packaging/aur/pkg/
packaging/aur/*.pkg.tar.*
packaging/aur/*.tar.gz
packaging/aur/*.tar.bz2
